<footer class="container text-center mt-5">
  <p class="text-muted">
    <small>
      Build thanks to <a href="https://www.youtube.com/channel/UCzuaB4F2znrMggxcwUuVhAw">teachers du net</a> ! 
    </small>
  </p>
</footer>
