{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-6 mx-auto">
          {% for flashError in app.flashes('reset_password_error') %}
          <div class="alert alert-error mb-3 rounded" role="alert">{{ flashError }}</div>
          {% endfor %}
          <h1 class="text-center mt-5 mb-3">Reset your password</h1>
          <p class="mb-5 text-center text-muted">
            Enter your email address and we we will send you a
            link to reset your password.
          </p>

          {{ form_start(requestForm) }}
          {{ form_row(requestForm.email) }}
          <div>

          </div>

          <button type="submit" class="btn btn-lg btn-block btn-primary">Send password reset email</button>
          {{ form_end(requestForm) }}
        </div>
    </div>
{% endblock %}
